:root {  
  --brand-hue: 200;

  --surface1-light: hsl(var(--brand-hue) 25% 90%);
  --surface2-light: hsl(var(--brand-hue) 20% 99%);
  --surface3-light: hsl(var(--brand-hue) 20% 92%);
  --surface4-light: hsl(var(--brand-hue) 20% 85%);
  --surface-shadow-light: var(--brand-hue) 10% 20%;
  --shadow-strength-light: .02;

  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
  --surface2-dark: hsl(var(--brand-hue) 10% 15%);
  --surface3-dark: hsl(var(--brand-hue) 5%  20%);
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);
  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: .8;

  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}


.img-method {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
}

/* ======== Card basic settings ======== */

.cards {
  padding: var(--metric-box-spacing);
}
.card {
  height: 300px;
  overflow-y: scroll;
  padding: var(--metric-box-spacing);
  border-radius: 1rem;
  box-shadow: 0 2.8px 2.2px hsl(var(--surface-shadow)/ calc(var(--shadow-strength) + .03)), 0 6.7px 5.3px hsl(var(--surface-shadow)/ calc(var(--shadow-strength) + .01)), 0 12.5px 10px hsl(var(--surface-shadow)/ calc(var(--shadow-strength) + .02)), 0 22.3px 17.9px hsl(var(--surface-shadow)/ calc(var(--shadow-strength) + .02)), 0 41.8px 33.4px hsl(var(--surface-shadow)/ calc(var(--shadow-strength) + .03)), 0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
  perspective: 1000px;
}

.card-badge {
  display: inline-flex;
  align-items: center;
  gap: .3rem;
  padding: .4rem .6rem .4rem .6rem;
  border-radius: 2em;
  font-size: clamp(0.75rem, 0.71rem + 0.18vw, 0.875rem);
  border: 1px solid hsl(var(--hue) var(--saturation) 25%);
}

/* ======== Card FLIP settings ======== */

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card.flipped .card-inner {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front {
  text-align: center;
}

.card-back {
  transform: rotateY(180deg);
}

/* ======== Card background ======== */

.surface1 {
  background-color: var(--surface1);
}

.surface2 {
  background-color: var(--surface2);
}

.surface3 {
  background-color: var(--surface3);
}

.surface4 {
  background-color: var(--surface4);
}

@media (prefers-color-scheme: dark) {
  /* just tweak the lightness */
  /* maybe desaturate too */

  :root {
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
}
/* Mobile */
@media (max-width: 50em) {
  .cards {
    width: 18em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--metric-box-spacing);
    overflow-x: scroll;
    /* scroll-snap-type: inline mandatory; */
    /* scroll-behavior: smooth; */
  }
  .card {
    flex: 0 0 auto; 
    width: 16em;
  }

}
/* Desktop */
@media (min-width: 50em) {
  .cards {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));    
    grid-gap: var(--metric-box-spacing);
  }
}
