@font-face {
  font-family: "neon-tubes-2-regular";
  src:
    url("https://assets.codepen.io/2585/NeonTubes2.otf") format("woff"),
    url("https://assets.codepen.io/2585/NeonTubes2.otf") format("opentype"),
    url("https://assets.codepen.io/2585/NeonTubes2.otf") format("truetype")
  ;
  font-display: swap;
}

