:root {
  color-scheme: dark light;

  /* destructure brand channels */
  --hue: 200; /* change me!! */
  --saturation: 100%;
  --lightness: 50%;

  /* build colors with props */
  --brand: hsl(
    var(--hue)
    var(--saturation)
    var(--lightness)
  );

  /* very dark brand blue */
  --text: hsl(
    var(--hue)
    var(--saturation)
    10% /* lower is darker */
  );

  /* very bright brand white */
  --surface: hsl(
    var(--hue)
    calc(var(--saturation) / 2)
    95% /* higher is lighter */
  );

  --metric-box-spacing: 1rem;
  --generic-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3),
    0px 2px 6px 2px rgba(60, 64, 67, 0.15);
}

html {
  block-size: 100%;
  inline-size: 100%;
}

header {
  padding: var(--metric-box-spacing);
}

body {
  color: var(--text);
  background: var(--surface);
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  place-content: center;
  font-family: system-ui, sans-serif;
}

main {
  display: grid;
  padding: var(--metric-box-spacing);
  place-content: center;
  /* min-block-size: calc(100vh - 8em); */
}

h1 > i, h2 > i {
  color: var(--neon);
  text-shadow: 
    0 0 20px var(--neon-glow),
    0 0 2.5vmin var(--neon-glow),
    0 0 5vmin var(--neon-glow),
    0 0 10vmin var(--neon-glow),
    0 0 15vmin var(--neon-glow);
}

h1 {
  text-align: center;
  font-size: 10vmin;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-weight: normal;
  font-size: 7vmin;
  margin-top: -20px; 
}

p {
  margin-block-start: var(--metric-box-spacing);
}

b {
  color: hsl(
    var(--hue)
    var(--saturation)
    30%
  );
}

u {
  text-decoration-color: var(--brand);
}

aside, #dialog-container {
  text-align: center;
  padding: 5px;
  place-content: center;
}

.list-outside {
  margin-left: 5em;
  list-style-position: outside;
  padding: 0;
}

.tag {
  display: block;
  line-height: 1.4em;
  margin: 4px;
  border: 1px solid gray;
  border-radius: 10%;
  cursor: pointer;
}
.tag:hover{
  background-color: hsl(192 100% 95%);
  color: var(--brand);
}
.tag.based-on.selected {
  background-color: rgba(194, 240, 192, 0.3);
}
.tag.without.selected {
  background-color: rgba(232, 138, 133, 0.3);
}

.img-cover {
  max-inline-size: 100%;
  /* block-size: auto; */
  object-fit: cover;
  border-radius: 1em;
  box-shadow: 0 2px 2px hsl(var(--surface-shadow)/ calc(var(--shadow-strength) + .03)), 0 4px 4px hsl(var(--surface-shadow)/ calc(var(--shadow-strength) + .01)), 0 10px 10px hsl(var(--surface-shadow)/ calc(var(--shadow-strength) + .02)), 0 20px 20px hsl(var(--surface-shadow)/ calc(var(--shadow-strength) + .02)), 0 41.8px 33.4px hsl(var(--surface-shadow)/ calc(var(--shadow-strength) + .03)), 0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
}

#dialog-close {
  float: right;
}

@media (prefers-color-scheme: dark) {
  /* just tweak the lightness */
  /* maybe desaturate too */

  :root {
    --text: hsl(
      var(--hue)
      calc(var(--saturation) / 2)
      85%
    );
  }

  b {
    color: hsl(
      var(--hue)
      var(--saturation)
      75%
    );
  }
}

/* ======== NEON font ======== */
.neon {
  font-family: "neon-tubes-2-regular", sans-serif;
}

.neon-red {
  --neon: hsl(355 100% 95%);
  --neon-glow: hsl(355 98% 40%);
}

.neon-blue {
  --neon: rgb(48, 109, 124);
  --neon-glow: rgb(76, 220, 174);
}

@media (prefers-color-scheme: dark) {
  /* just tweak the lightness */
  /* maybe desaturate too */

  :root {
    --surface: hsl(
      var(--hue)
      var(--saturation)
      5%
    );
  }

  .neon-red {
    --neon: hsl(355 100% 95%);
    --neon-glow: hsl(355 98% 40%);
  }

  .neon-blue {
    --neon: hsl(192 100% 95%);
    --neon-glow: hsl(194 100% 40%);
  }  
}


/* Mobile */
@media  (max-width: 50em) {
  #tagContainer-basedOn, #tagContainer-without, #btn-without-disabled {
    display: none;
  }
  #btn-without-enabled {
    float: right;
  }
  .tag {
    display: inline-block;
  }
}
/* Desktop */
@media (min-width: 50em) {
  main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  #btn-show-based-on, #btn-without-enabled {
    display: none;
  }

  aside {
    flex: 1
  }
  .cards {
    flex: 3
  }
  
}
